#task-name {
  font-size: 1.6rem;
}

#table-tasks {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}

#table-task {
  th {
    vertical-align: middle;
    text-align: center;
    table-layout:fixed;
  }
  td {
    vertical-align: middle;
  }
}